<header>
    <meta charset="utf-8" />
    <title>Meu Café</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/home/home.css"/>
</header>

<body class="master site">
    <div class="id-modal">
        <div class="modal-box">

            <div class="modal-box-conteudo">

            </div>
            <div class="fechar-modal">

            </div>

        </div>
    </div>

    <div class="wid-100 pd-40-20 pos-fix ds-flex-column ds-flex-align-center">
        <div class="wid-100 ds-flex-centralizar">
            <div class="wid-80 pos-rel main_header">
                <img src="/img/logo.png" class="img_logo">
                <ul class="wid-auto fl-rigth ds-flex-row main_menu">
                    <li><a href="/CadastroUsuario" class="btn-branco border wid-fix-250">Cadastre-se</a></li>
                    <li><a href="/Login" class="btn-branco border wid-fix-250">Fazer Login</a></li>
                </ul>
            </div>
        </div>
        <div class="item-flex wid-100 mg-top50 ds-flex-column ds-flex-align-center ds-flex-justify-around main_bottom">
            <div class="wid-100">
                <p class="text-2 text-center">Ter seu pão quentinho</p>
                <p class="text-2 text-center">nunca foi tão fácil</p>
                <p class="text-1 text-center">Descubra padarias perto de voçê!</p>
            </div>
            <div class="wid-100 ds-flex-centralizar">
                <a href="#" class="btn-red">Buscar Padarias</a>
            </div>
            <div class="wid-100 ds-flex-centralizar">
                <div class="wid-80 bg-red pd-20 radius10 back">
                    <p class="text-18 color-branco mg-bot20">Seja um Parceiro</p>
                    <p class="text-1 color-branco mg-bot20">Cadastre-se agora e cresça até 50% no mês</p>
                    <a href="/CadastroParceiro" class="btn-branco fl-left">Cadastre-se</a>
                </div>
            </div>
        </div>
    </div>

</body>